# ----------------------------
# OLTP PostgreSQL (container)
# ----------------------------
OLTP_POSTGRES_USER=postgres
OLTP_POSTGRES_PASSWORD=postgres
OLTP_POSTGRES_DB=sql_practice
OLTP_POSTGRES_EXPOSE_PORT=54321

# ----------------------------
# ClickHouse OLAP (container)
# ----------------------------
CLICKHOUSE_USER=admin
CLICKHOUSE_PASSWORD=adminpass
CLICKHOUSE_DB=dwh
CLICKHOUSE_HTTP_EXPOSE_PORT=81234
CLICKHOUSE_TCP_EXPOSE_PORT=9000

# ----------------------------
# Airflow metadata PostgreSQL
# ----------------------------
AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=airflow
AIRFLOW_POSTGRES_DB=airflow

# ----------------------------
# Airflow web/admin
# ----------------------------
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_WEBSERVER_PORT=8090

# ----------------------------
# Optional: local ETL launch (outside docker)
# ----------------------------
APP_POSTGRES_HOST=localhost
APP_POSTGRES_DB=sql_practice
APP_POSTGRES_USER=postgres
APP_POSTGRES_PASSWORD=postgres
APP_POSTGRES_PORT=5432

APP_CLICKHOUSE_HOST=localhost
APP_CLICKHOUSE_PORT=8123
APP_CLICKHOUSE_USER=admin
APP_CLICKHOUSE_PASSWORD=adminpass
APP_CLICKHOUSE_DB=dwh
